@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
    {
        <li class="nav-item">
            <img style="height:40px;width:40px;object-fit:cover;border-radius:50%;" alt="profile" 
                    src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" />
        </li>
    }

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            Hello @User.Identity?.Name!
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
            <a class="dropdown-item" asp-controller="MyOrders" asp-action="Index">
                <i class="bi bi-list-check me-2"></i>طلباتي
            </a>
            <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="btn btn-link text-dark p-0 m-0">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
